
body {
    background-color: #ebeded;
    width: 100;
    
}
header {
    background-color: #131921;
    margin-bottom: left;
    
    }
#logo {
    width: 8em;
    height: 2.5em;
 
}

#liste {
    background-color: #131921;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 30px; 
    padding-top: 30px;
    display: block;
    padding-left: 10px;
    
    
     
}

span a {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 13px;
   color: white;
   word-spacing: 3px;
   text-decoration: none;
   padding-left: 18px;
   
 
}

#distance {
    padding-left: 70px;
    font-size: 16px;
}

#par {
    background-color: rgb(245, 109, 60);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bolder;
   
    
}

#span {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url('immagini/bg-image.png');
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    

}

.background {
    background-color: white;
    
    
}

.medium {
    width: 23vw;
    height: 36vh;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 2px;
    margin-bottom: 15px;
    padding-right: 2px;
    padding-bottom: 10px;
    border-radius: 2px;
    border-radius: 15px 15px 15px 15px;  

}


.background1{
    background: white;
    width: 22%;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    margin-left: 20px;

    
    
}
.box {
    width: 40%;
    color: black;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.small{
    width: 100%;
    
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    
}
#large {
    width: 100%;
    height: 25em;
    margin-top: 17px;;
    
}

#large2 {
    width: 100%;
    height: 25em;
}
    
.center {
    text-align: center;
    margin-bottom: 20px;

}



#bottom{
    background-color: #232F3E;
    margin-top: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#logo1{
    background-color: #131921;
    margin-bottom: center;
    
}

#center{
    width: 8em;
    height: 2.5em;
    display: block;
    margin: 0 auto;

}